<a href="https://colab.research.google.com/github/backblaz/Hacktivate_Python-for-Data-Science/blob/main/Sesi6_Melakukan_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Melakulan Exploratory Data Analysis

In [1]:
## Import libraries
import pandas as pd
import numpy as np

In [2]:
# Import dataset
df = pd.read_csv('/content/raw.githubusercontent.com_ardhiraka_PFDS_sources_master_property_data.csv')

In [3]:
df.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [4]:
## Melihat info dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PID           8 non-null      float64
 1   ST_NUM        7 non-null      float64
 2   ST_NAME       9 non-null      object
 3   OWN_OCCUPIED  8 non-null      object
 4   NUM_BEDROOMS  7 non-null      object
 5   NUM_BATH      8 non-null      object
 6   SQ_FT         8 non-null      object
dtypes: float64(2), object(5)
memory usage: 632.0+ bytes

In [5]:
### statistik pada data
df.describe()

                PID      ST_NUM
count  8.000000e+00    7.000000
mean   1.000050e+08  191.428571
std    2.927700e+03   39.080503
min    1.000010e+08  104.000000
25%    1.000028e+08  199.000000
50%    1.000050e+08  203.000000
75%    1.000072e+08  210.000000
max    1.000090e+08  215.000000

In [6]:
### Melihat missing values secara keseluruhan
df.isnull().sum()

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    1
NUM_BEDROOMS    2
NUM_BATH        1
SQ_FT           1
dtype: int64